# ignore compiled python files
__pycache__
*.pyc

# ignore idea SDK
.idea/*

# ignore cache
.cache/*
.mypy_cache/*
.pytest_cache/*

# Binary files/
*.exe

# Temporary files.
inferlo/interop/libdai/tmp

# Sphinx
docs/_build
docs/generated

# Ignore generated Jupyter files
*.ipynb_checkpoints/

# Ignore Jupyter notebooks, except in documentation.
*.ipynb
!/docs/tutorials/*.ipynb
!/docs/experiments/*.ipynb
